<div class="animate__animated animate__fadeIn animete__faster">
  <h2>Por capital</h2>

  <hr />

  <!-- Se importa el ngModel y se le asocia un termino para obtener lo que escriba el usuario, se usara en el archivo ts  -->
  <!-- con ngSubmit se previene la accion por defecto del formulario al buscar   -->

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Por capital..."
      ></app-pais-input>
    </div>
  </div>

  <hr />
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro el termino {{ termino }}
</div>

<!-- Se verifica que la longitud del arreglo sea mayor a cero para que se muestre la
tabla de resultados -->

<!-- Llaves cuadradas son para mandar una variable, sin las llaves es para mandar un string -->

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
